body{
    background-color: aqua;
}
    main{
        display: inline-block;
        width: 800px;
        background-color: yellow;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
    }   
        .leftSide{  
            display: inline-block;
            width: 40%;
            background-color: indigo;
            float: left;
            margin-top: 10px;
        }
            h1{

        }
            footer{

            }
            .linkai{

            }
            .amper{

            }
        .rightSide{
            display: inline-block;
            width: 60%;
            background-color:white;
            float: left;
            padding: 60px;
        }  
            .close{

            }
            .forma{

            }
                .Eilute{

                }
                    .label{

                    }
                    .input{

                    }
                    .leftB{

                    }
                    .or{

                    }
                    .rightB{

                    }
